{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About the Page{% endblock %}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <strong>This Project was built with </strong>
  <br>
  <br>

  <table class="table table-striped table-bordered">

      <tbody>
        <tr>
          <td><strong>Language</strong></td>
          <td>Python 3</td>

        </tr>
        <tr>
          <td><strong>Framework</strong></td>
          <td>Django 2.0</td>

        </tr>
        <tr>
          <td><strong>Database</strong></td>
          <td>Postgres</td>

        </tr>
        <tr>
          <td><strong>Web Technologies</strong></td>
          <td>HTML 5, CSS, Bootstrap4</td>

        </tr>
        <tr>
          <td><strong>Version Control</strong></td>
          <td>GIT</td>

        </tr>
      </tbody>
    </table>
</div>


  <br>
  <br>
  <br>

  {% endblock %}
