

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{details.title}}{% endblock %}
{% block content %}
<br>
<br>
<br>

    <div class="container">

      <a href="{% url 'allblogs' %}" class="float-right">Go Back</a>
      <h1 class="text-center pt-3">{{details.title}}</h1>

      <div style="display: flex; justify-content: center;">
        <img  class="center" src="{{ details.image.url }}" alt="no image found" height=400 >
      </div>
      <br>
      <p class='text-center'>{{ details.pub_date }}</p>
      <div class="container">
        <div class="jumbotron">
          <p class='text-center'>{{details.body}}</p>
        </div>

      </div>


    </div>


  {% endblock %}
