{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}PortFolio Home{% endblock %}
{% block content %}
</div>
<section id="first" style="background-image: url('{% static "bb.jpeg" %}');">
  <section id="first-content">
    <div class="row" >
      <div class="container cont">
        <div class="col-sm-6">
          <div class="about-text">
              <h3>About Me</h3>
              <p>This is Milan!</p>
              <p class="lead">Hi There! Welcome to my website. I am a very enthusiastic Developer with love for Python and Django but Open to learn anything.</p>
              <h5>Follow me on web</h5>
              <a href="https://www.facebook.com/milan.thapa.395" class="btn btn-outline-primary">Facebook</a>
              <a href="https://www.instagram.com/milanmangar/" class="btn btn-outline-primary">Instagram</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<br>
<section class="messages" style="background:#d4edda;">
  <div class="container"  >
    {% if messages %}

      <div class="col-xs-4">

          {% for message in messages %}
          <p{% if message.tags == "success" %} class="alert alert-success" {% endif %} style="text-align:center;padding: 0.5rem 0">{{ message }}</p>
          {% endfor %}

      </div>

    </div>
    {% endif %}
  </div>
</section>

<section class="project-title">
  <div class="container">

    <h2>MY PROJECTS</h2>
  </div>
</section>
</section>
<section class="card-section">
  <div class="card-deck">
  <div class="card border-success mb-3 ">
    <div class="card-header bg-transparent border-success"><h5>Weather Guide</h5></div>
    <img class="card-img-top" src="{% static 'about.jpg' %}" alt="Card image cap" height=250>
    <div class="card-body">
      <a href="http://weatherguides.herokuapp.com" class="btn btn-primary">Visit the Website</a>
      <p class="card-text"><small class="text-muted"><strong>Created on : </strong> 2nd August 2018</small></p>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-header bg-transparent border-success"><h5>Product Pandit</h5></div>
    <img class="card-img-top" src="{% static 'new.jpeg' %}" alt="Card image cap" height=250>
    <div class="card-body">

      <a href="https://productpanditapp.herokuapp.com/" class="btn btn-primary">Visit the Website</a>
      <p class="card-text"><small class="text-muted">
        <strong>Created on : </strong>20th July 2018</small></p>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-header bg-transparent border-success"><h5>No project</h5></div>
    <img class="card-img-top" src="{% static 'b3.jpeg' %}" alt="Card image cap" height=250>
    <div class="card-body">

      <a href="http://www.google.com" class="btn btn-primary">Not Yet Decided</a>
      <p class="card-text"><small class="text-muted"><strong>Created on : </strong>Not Yet Decided</small></p>
    </div>
  </div>
</div>
</section>
{% endblock %}
